* {
  margin: 0;
  padding: 0;
}

/* Fonts --- choose.  */
/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Overpass', sans-serif; */

body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}

.left-image-container {
  max-width: 300px;
}

.large-image {
  width: 100%;
  height: auto;
}

.small-image {
  display: none;
}

.right-container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px;
}

.perfume {
  color: hsl(228, 12%, 48%);
}

.name {
  color: hsl(212, 21%, 14%);
}

.info {
  color: hsl(228, 12%, 48%);
}

.prices {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.left-price {
  color: hsl(158, 36%, 37%);
  font-weight: bold;
}

.right-price {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.button {
  background-color: hsl(158, 36%, 37%);
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.button:active {
  background-color: hsl(151, 100%, 15%);
}

.cart-icon {
  padding-right: 10px;
}

/* Media query for smaller screens */
@media (max-width: 375px) {
  .main {
    flex-direction: column;
    margin: 15px;
  }

  .left-image-container {
    order: 1;
  }

  .large-image {
    display: none;
  }

  .small-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .right-container {
    order: 2;
  }
  .perfume,
  .name,
  .info,
  .prices {
    padding-bottom: 15px;
  }
}
